
iframe{
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
h4{
  display: inline;
}
.icon{
  width: 25px;
  height: 25px;
}
.iconR{
  float: right; 
  /* display: inline-block; */
  width:25px;
  height: 25px;
  margin-right: 3%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

.hbody {
  background-color: black;
  width: 100%;
  height: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.title {
  font-size: 2em;
}

.title > a {
  color: black;
}

.nav-item > a, i {
  color: black;
}

article {
  /* background-color: antiquewhite; */
  background-image: url('img/background.png'); 
  background-size: cover;
}

#profile {
  width: 25%;
  height: 150px;
  float: left;
  padding: 10px;
}

#favor {
  width: 75%;
  height: 300px;
  float: right;
  padding: 10px;
}

#search {
  width: 25%;
  height: 450px;
  float: left;
  padding: 10px;
}

#taste {
  width: 75%;
  height: 300px;
  float: right;
  padding: 10px;
}
